
.cart-container {
  max-width: 1500px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-title {
  text-align: center;
  font-weight: 700;
  font-size: 2.6rem;
  margin-bottom: 40px;
}

.cart-icon {
  font-size: 2.2rem;
  margin-left: 10px;
}

.cart-item {
  padding: 22px;
  margin-bottom: 20px;
  border-radius: 14px;
}

.cart-img {
  width: 270px;
  height: 155px;     
  object-fit: contain;
  border-radius: 14px;
}

.cart-name {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.cart-info {
  margin: 0;
  font-size: 0.95rem;
  color: #555;
}

.cart-price {
  font-weight: 700;
  font-size: 1.05rem;
  margin-bottom: 10px;
}

.cart-summary {
  padding: 25px;
  border-radius: 14px;
  position: sticky;
  top: 110px;
}

.cart-summary h4 {
  font-weight: 700;
  margin-bottom: 20px;
}

.cart-actions button {
  font-size: 1rem;
  padding: 10px;
}
