.fondo{
    background-color: #85603F;
    color: white;

}

.fondo .nav-link,
.fondo .dropdown-toggle {
  color: white;
  font-size: 1.2rem;
}


img{
  object-fit: cover;
  width: 12rem;
  height: 7rem;
  border-radius: 50%;
}

.carrito{
  font-size: 1.5rem;
  margin-right: 0.7rem;
}